body {
	margin: 0;
	padding: 0;
	font: 70% Tahoma, Arial, Helvetica, sans-serif;
	color: #7e7e7e; 
	background: #FFFFFF url(bg.gif) repeat-x;
	line-height: 16px; 
}

a {
	color: #33ADDB;
	background-color: inherit;
	text-decoration: none;
}

a:hover {
	color: #575757;
	background-color: inherit;
}

h1 {
	font: bold 1.8em Arial, Sans-Serif;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
}

h1 a {
	text-decoration: none;
}

h2 {
	margin: 0; 
	padding: 3px 0 6px 0; 
	font: 130% Arial, Sans-Serif;
	font-weight: bold;
	color: #808080; 
	text-transform: uppercase;
	background-color: inherit;
	
}

h2 a {
	color: #6AC65D;
	background-color: inherit;
	text-decoration: none;
}


p {
	padding: 2px 0 5px;
	margin: 0;
}

#content {
	margin: 0px auto; 
	width: 1200px; 
}

.header { 
	height: 45px; 
	margin: 0px 0 2px 0; 
	padding: 20px 0 0 5px;
	border-top: 4px solid #000;
	background: #FFF url(headerbg.gif) repeat-x bottom left;
	color: #808080;
}
	
.searchform {
	float: right;
	padding: 2px 5px 0 0;
}

.subheader {
	clear: both;
	height: 23px;
	margin: 0 0 10px 0;	
}

.subheader_left {
	line-height: 28px;
	width: 253px;
	background: #33ADDB url(hmleftbg.gif) repeat-x;
	color: #FFFFFF;
	padding: 0 5px 0 5px;
}

.subheader_left a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	background-color: inherit;
}

.subheader_right {
	background: #F6F6F6 url(hmrightbg.gif) repeat-x;
	color: #626262;
	line-height: 28px;
	
	float: right;
	width: 934px;
	
}

.subheader_right a {
	margin: 0px 2px 0 0;
	padding: 7px 10px 8px 10px;
	color: #626262;
	background: inherit;
	font-weight: bold;
	text-decoration: none;
}

.subheader_right a:hover {
	background: #33ADDB url(hmleftbg.gif) repeat-x;
	border-top: 1px solid #1A83AC;
	color: #FFFFFF;
}

.left {
	float: left;
	padding: 5px 0 0 5px;
	width: 250px;
}

.right {
	float: right;
	width: 935px;
	margin: 0 0 0 0; 
	padding: 10px 0 0 0; 
	color: #000;
	background-color: #FFFFFF; 
	border-left: 1px solid #e6e6e6;
}

a.info {
	font: bold 1.3em Arial, Sans-Serif; 
	text-decoration:none; 
	position:relative;
}

a.info span {
	display:none;
}

a.info:hover {
	
	cursor:default;
}

a.info:hover .infobox {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:20px;; 
	left:0;; 
	width:205px; 
	height:70px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 url(question.gif) no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:10px;
}

.line {
	height: 2px;
	margin: 10px 0 10px 0;
}

.right_left {
	float: left;
	width: 260px;
	padding: 13px;
	background: #f2f2f2 url(corner.gif) no-repeat bottom right;
	color: #626262;
}

.right_right {
	float: right;
	width: 240px;
	padding: 13px;
	background: #f2f2f2 url(corner.gif) no-repeat bottom right;
	color: #626262;
}

.footer { 
	clear: both; 
	color: #999999; 
	background-color: #FFFFFF;
	padding: 10px 0 10px 0; 
	border-top: 1px solid #e6e6e6; 
	text-align: center;  
	line-height: 13px;
}

.footer a { 
	text-decoration: underline; 
}

form.search {
	padding: 0; 
	margin: 0; 
}

input.text { 
	margin: 0; 
	width: 75px;
	border: 1px solid #ccc; 
	background: #FFF;
	color: #000; 
	font-size: 11px; 
}

input.text:hover { 
	border: 1px solid #808080; 
}

input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	font-family: Arial, Sans-serif; 
	border: none; 
	background: #FFFFFF; 
	color: #808080; 
	padding: 1px; 
	font-weight: bold; 
}

.date { 
	color: #ccc; 
	background: #FFFFFF;
	text-align: right; 
	margin: 4px 0 3px 0; 
	padding: 0; 
}

/*OPENBIZ*/
/* view, form title style*/
.title { 
	margin: 0; 
	padding: 3px 0 6px 0; 
	font: 110% Arial, Sans-Serif;
	font-weight: bold;
	color: #808080; 
	text-transform: uppercase;
	background-color: inherit;	
}
   
.title_w { 
   color:#FFFFFF; 
   font-size: 14px; 
   font-family:Arial; 
   font-weight:bold; 
   padding: 2 2 2 2 }

/* error message style */
.error { 
   font-size: 12px; 
   color: red; 
   font-family:Arial; 
   font-weight:bold; }

/* form elements style */
input, select, textarea { 
   border: 1px solid silver; 
   font-family:Arial; 
   font-size:12px; }
input.err, select.err {
   padding-right: 16px; 
   border: 1px solid red; 
   background-color: #FFFCE2; 
   background-image: url(../images/warning_obj.gif); 
   background-position: right; 
   background-repeat: no-repeat;}
textarea.err {
   padding-right: 16px; 
   border: 1px solid red; 
   background-color: #FFFCE2;}
input:focus, select:focus, textarea:focus {
   border: 1px solid red; 
   background-color:#EFEFEF;}
input.nav {
   border: 1px solid #505050; 
   width: 60px;
   text-align: center;
   font-size:10px; }

.nav_page {
   width:60px;
   font-size:10px; 
   text-align:center; }

.required {
   font-size: 14px;
   font-weight:bold;
   color: red; }

/* table cell style */
/*td { font-size: 12px; font-family:Arial;}*/

/* form toolbar style */
.tbl_title { 
	background-color: #FFFFFF;
} 

/* -------- table style -------- */
.tbl { 
	margin: 0 0 0 5px;
	color: #808080; 
	padding: 3px;
	width: 100%;
}

.tbl .head { 
	text-align: left;
	border-bottom: 1px solid #808080
}
.tbl .rowodd 
{ }

.tbl .roweven 
{}

.tbl .rowodd:hover { 
	background-color:#F3FCF5;
}

.tbl .roweven:hover {
	background-color:#F3FCF5;
}

.tbl .rowsel td { 
	color: #000;
	border-bottom:1px solid #e6e6e6;
}

.tbl .cell { 
}

.tbl .cell_edit
{ }
/**********************************************/

/* -------------- Tabs style ---------------- */
.tabRow {	
		border-color: #999;
	}

.currentTab{
		border-top: 1px solid #999;
		border-left: 1px solid #999;
		border-right: 1px solid #999;
}

.currentTabLeft, .currentTabRight{
		border-bottom: 1px solid #999;
	}
.currentTabLeft2, .currentTabRight2, .currentTab2 {
		background-repeat: no-repeat;
	}

	a.currentTabLink:link, a.currentTabLink:visited {
		color: #990033;
		}
	a.currentTabLink:hover {
		color: #990033;
		}
		
	.otherTabLeft, .otherTabRight, .otherTab {
		color: #808080;
		background-repeat: no-repeat;
		border-color: #999;
		}
	.otherTabFirst {
		color: #808080;
		background-repeat: no-repeat;
		border-color: #999;
		}
	a.otherTabLink:link, a.otherTabLink:visited {
		color: #808080;

		}
	a.otherTabLink:hover {
		color: #990033;
		}
		
.tabRow {
		height: 20px;
		background-position: top;
		background-repeat: repeat-x;	
		border-bottom: solid 1px #999;
	}
	
.currentTab, .currentTab2 {
		font-size: 11px;
		font-weight: bold;
		padding-top: 1px;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		background-position: top center;
		}	
	.currentTabLeft, .otherTabLeft, .currentTabLeft2, .otherTabFirst {
		background-position: top left;
	}		
	.currentTabRight, .otherTabRight, .currentTabRight2 {
		background-position: top right;
	}
	
	a.currentTabLink:link, a.currentTabLink:visited {
		text-decoration: none;
		}
	a.currentTabLink:hover {
		text-decoration: none;		
		}
		
	.otherTab {
		font-size: 11px;
		font-weight: bold;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		background-position: top center;
		} 
	.otherTabRight , .otherTabLeft, .otherTab, .otherTabFirst {
		border-bottom: solid 1px #999;
		}
	a.otherTabLink:link, a.otherTabLink:visited {
		text-decoration: none;
		padding-top: 0px;

		}
	a.otherTabLink:hover {
		text-decoration: none;
		}
/*********************************************************/
/* button style */
.button { 
   border:1px solid gray; 
   background-color:#F0F0F0;
   background-image: url(../images/bgBlue.gif);
   background-repeat: repeat-x;
   background-position: bottom;
   font-family:Arial; 
   font-size:12px; 
   font-weight:normal; 
   text-decoration:none; 
   /*padding: 1 1 1 1*/}

.buttonOn, .button:hover, .button:focus, .buttonOn:focus {
	border: 1px solid blue;
	background-color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	}
/*.button { 
   border: 1px solid #505050;
   background-color:#F0F0F0; 
   font-family:Arial; 
   font-size:12px; }*/
.button_nb { 
   background-color:#F0F0F0; 
   font-family:Arial; 
   font-size:12px; }
/*********************************************************/
