<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" lang="en" py:strip="True">

<div class="logo">
	<a target="_self" title="${_(u'Сравнение цен интернет магазинов, поиск товаров')}" href="/">
		<img src="/img/design/logo.gif" alt="${_(u'Сравнение цен интернет магазинов, поиск товаров')}" border="0"/> 
	</a>
</div>

<div class="glowingtabs" id="glowmenu">
	<ul>
		<li>
			<a target="_self" title="${_(u'Сравнение цен интернет магазинов, поиск товаров')}" href="/">
				<span>${_(u'Домашняя')}</span>
			</a>
		</li>
		<li>
			<a target="_self" title="${_(u'Операции с клиентами')}" href="/be/clients">
				<span>${_(u'Клиенты')}</span>
			</a>
		</li>
		<li>
			<a target="_self" title="${_(u'Временное хранилище')}" href="/be/tmpstorage">
				<span>${_(u'Временное хранилище')}</span>
			</a>
		</li>
	</ul>
</div>

</html>
