<div xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" lang="en" py:strip="False">
<h3>${_(u'Редактирование клиента')}</h3>
<div class="back-link">
	<a href="/be/clients" title="${_(u'Назад к списку клиентов')}">${_(u'Назад к списку клиентов')}</a>
</div>

<div class="message-save-success">
	${_(u'Изменения успешно сохранены')}
</div>

<div class="message-save-failure">
	${_(u'Изменения не сохранены из-за ошибок.')}
</div>

<form action="/be/clients/edit/${c.client.Client.rid}" method="post">
<div class="clients-processing">
	<table width="50%">
	<tr>
		<td width="40%">
			<label for="code">${_(u'Название')}</label>
		</td>
		<td>
			<input type="text" name="name" value="${c.client.Client.name}" id="name"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Город')}</label>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td>
						${_(u'страна')}
					</td>	
					<td>
						${_(u'регион')}
					</td>	
					<td>
						${_(u'город')}
					</td>	
				</tr>
				<tr>
					<td>
						<select name="_countries_rid" id="_countries_rid">
							<option py:for="country in c.countries_list" selected="${country.rid == c.client.country_rid and 'selected' or None}">${country.name}</option>
						</select>	
					</td>	
					<td>
						<select name="_regions_rid" id="_regions_rid">
							<option py:for="region in c.regions_list" selected="${region.rid == c.client.region_rid and 'selected' or None}">${region.name}</option>
						</select>	
					</td>	
					<td>
						<select name="_cities_rid" id="_cities_rid">
							<option py:for="city in c.cities_list" selected="${city.rid == c.client.Client._cities_rid and 'selected' or None}">${city.name}</option>
						</select>	
					</td>	
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Адрес')}</label>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td>
						${_(u'индекс')}
					</td>	
					<td>
						${_(u'улица')}
					</td>	
					<td>
						${_(u'дом, оффис')}
					</td>	
				</tr>
				<tr>
					<td>
						<input type="text" name="zip" value="${c.client.Client.zip}" id="zip" size="5"/>
					</td>	
					<td>
						<input type="text" name="street" value="${c.client.Client.street}" id="street" width="50"/>
					</td>	
					<td>
						<input type="text" name="build" value="${c.client.Client.build}" id="build" width="50"/>
					</td>	
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Телефоны')}</label>
		</td>
		<td>
			<input type="text" name="wphones" value="${c.client.Client.wphones}" id="wphones" size="50"/>			
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Skype')}</label>
		</td>
		<td>
			<input type="text" name="skype" value="${c.client.Client.skype}" id="skype" size="25"/>		
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'ICQ')}</label>
		</td>
		<td>
			<input type="text" name="icq" value="${c.client.Client.icq}" id="icq" size="25"/>
		</td>
	</tr>
	
	<tr>
		<td width="40%">
			<label for="code">${_(u'Сайт')}</label>
		</td>
		<td>
			<input type="text" name="url" value="${c.client.Client.url}" id="url" size="25"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Кредит')}</label>
		</td>
		<td>
			<span py:choose="">
				<span py:when="c.client.Client.creadits_info == 0">
					<input type="checkbox" value="1" name="creadits_info"/>
				</span>
				<span py:otherwise="">
					<input type="checkbox" value="1" checked="checked" name="creadits_info"/>
				</span>
			</span> 
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Доставка')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="${c.client.Client.delivery_info}" name="delivery_info">${c.client.Client.delivery_info}</textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Время работы')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="${c.client.Client.worktime_info}" name="worktime_info">${c.client.Client.worktime_info}</textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Описание')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="${c.client.Client.descr}" name="descr">${c.client.Client.descr}</textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Загрузка прайсов')}</label>
		</td>
		<td>
			<span py:choose="">
				<span py:when="c.client.Client.pr_load == 0">
					<input type="checkbox" value="1" name="pr_load"/>
				</span>
				<span py:otherwise="">
					<input type="checkbox" value="1" checked="checked" name="pr_load"/>
				</span>
			</span> 
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Актуальность прайса')}</label>
		</td>
		<td>
			<select name="pr_actual_days" id="pr_actual_days">
				<option py:for="i in range(1, 15)" selected="${c.client.Client.pr_actual_days == i and 'selected' or None}">${i}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Адрес прайса')}</label>
		</td>
		<td>
			<input type="text" name="pr_url" value="${c.client.Client.pr_url}" id="pr_url" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактные телефоны')}</label>
		</td>
		<td>
			<input type="text" name="contact_phones" value="${c.client.Client.contact_phones}" id="contact_phones" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактный Email')}</label>
		</td>
		<td>
			<input type="text" name="contact_email" value="${c.client.Client.contact_email}" id="contact_email" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактное лицо')}</label>
		</td>
		<td>
			<input type="text" name="contact_person" value="${c.client.Client.contact_person}" id="contact_person" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Активный')}</label>
		</td>
		<td>
			<span py:choose="">
				<span py:when="c.client.Client.active == 0">
					<input type="checkbox" value="1" name="active"/>
				</span>
				<span py:otherwise="">
					<input type="checkbox" value="1" checked="checked" name="active"/>
				</span>
			</span> 
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Популярность')}</label>
		</td>
		<td>
			<input type="text" name="popularity" value="${c.client.Client.popularity}" id="popularity" size="5"/>
		</td>
	</tr>
	</table>
	<input type="submit" name="save" value="${_(u'Сохранить')}"/>
</div>
</form>
</div>
