<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" lang="en">
<head>
	<link type="text/css" href="/css/be/style.css" rel="stylesheet"/>
	<link type="text/css" href="/css/be/grid.css" rel="stylesheet"/>
	<link type="text/css" href="/css/be/mainmenu.css" rel="stylesheet"/>
	<link type="text/css" href="/css/be/pager.css" rel="stylesheet"/>
</head>
<body>
<xi:include href="../common/mainmenu.html" />
<div style="margin-top: 40px;">
	<xi:include href="../clients/${c.subtempl}.html" />
</div>
</body>
</html>
