<?xml version="1.0" standalone="no"?>
<Config>
   <DataSource>
      <!-- -->
      <Database Name="Default" Driver="PDO_MYSQL" Server="localhost" DBName="saleinform" User="saleinform" Password="saleinform" />
      <!--  --> 
      <!--
      <Database Name="Default" Driver="PDO_MYSQL" Server="saleinform.com" DBName="saleinfo_sfedb" User="saleinfo_sfedb" Password=",hf[vfgenhf" />
      -->
   </DataSource>
</Config>
