<div xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" lang="en" py:strip="False">
<script type="text/javascript" src="/js/be/clients.js"></script>
<h3>${_(u'Добавление клиента')}</h3>
<div class="back-link">
	<a href="/be/clients" title="${_(u'Назад к списку клиентов')}">${_(u'Назад к списку клиентов')}</a>
</div>
<br/>
<div py:if="c.oper_status==True" class="message-save-success" >
	${_(u'Изменения успешно сохранены')}
</div>

<div py:if="c.oper_status==False" class="message-save-failure">
	${_(u'Изменения не сохранены из-за ошибок.')}
</div>

<form action="/be/clients/add" method="post">
<div class="clients-processing">
	<table width="50%">
	<tr>
		<td width="40%">
			<label for="code">${_(u'Название')}</label>
		</td>
		<td>
			<input type="text" name="name" value="" id="name"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Юридическая форма')}</label>
		</td>
		<td>
			<select name="_urforms_rid" id="_urforms_rid">
				<option py:for="urform in c.urforms_list" value="${urform.rid}" >${urform.name}</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="_cltypes_rid">${_(u'Тип клиента')}</label>
		</td>
		<td>
			<select name="_cltypes_rid" id="_cltypes_rid">
				<option py:for="cltype in c.cltypes_list" value="${cltype.rid}" >${cltype.name}</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Город')}</label>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td>
						${_(u'страна')}
					</td>	
					<td>
						${_(u'регион')}
					</td>	
					<td>
						${_(u'город')}
					</td>	
				</tr>
				<tr>
					<td>
						<select name="_countries_rid" id="_countries_rid" onchange="onCountryChange();" size="5" style="width:150px;">
							<option py:for="country in c.countries_list" value="${country.rid}">${country.name}</option>
						</select>	
					</td>	
					<td>
						<select name="_regions_rid" id="_regions_rid" onchange="onRegionChange();" size="5" style="width:150px;">
							<option py:for="region in c.regions_list" value="${region.rid}">${region.name}</option>
						</select>	
					</td>	
					<td>
						<select name="_cities_rid" id="_cities_rid" size="5" style="width:150px;">
							<option py:for="city in c.cities_list" value="${city.rid}">${city.name}</option>
						</select>	
					</td>	
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Адрес')}</label>
		</td>
		<td>
			<table width="100%">
				<tr>
					<td>
						${_(u'индекс')}
					</td>	
					<td>
						${_(u'улица')}
					</td>	
					<td>
						${_(u'дом, оффис')}
					</td>	
				</tr>
				<tr>
					<td>
						<input type="text" name="zip" value="" id="zip" size="5"/>
					</td>	
					<td>
						<input type="text" name="street" value="" id="street" width="50"/>
					</td>	
					<td>
						<input type="text" name="build" value="" id="build" width="50"/>
					</td>	
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Телефоны')}</label>
		</td>
		<td>
			<input type="text" name="wphones" value="" id="wphones" size="50"/>			
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Skype')}</label>
		</td>
		<td>
			<input type="text" name="skype" value="" id="skype" size="25"/>		
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'ICQ')}</label>
		</td>
		<td>
			<input type="text" name="icq" value="" id="icq" size="25"/>
		</td>
	</tr>
	
	<tr>
		<td width="40%">
			<label for="code">${_(u'Сайт')}</label>
		</td>
		<td>
			<input type="text" name="url" value="" id="url" size="25"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Кредит')}</label>
		</td>
		<td>
			<input type="checkbox" value="1" name="creadits_info"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Доставка')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="" name="delivery_info"></textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Время работы')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="" name="worktime_info"></textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Описание')}</label>
		</td>
		<td>
			<textarea rows="3" cols="43" value="" name="descr"></textarea>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Загрузка прайсов')}</label>
		</td>
		<td>
			<input type="checkbox" value="1" name="pr_load"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Актуальность прайса')}</label>
		</td>
		<td>
			<select name="pr_actual_days" id="pr_actual_days">
				<option py:for="i in range(1, 15)" value="${i}">${i}</option>
			</select>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Адрес прайса')}</label>
		</td>
		<td>
			<input type="text" name="pr_url" value="" id="pr_url" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактные телефоны')}</label>
		</td>
		<td>
			<input type="text" name="contact_phones" value="" id="contact_phones" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактный Email')}</label>
		</td>
		<td>
			<input type="text" name="contact_email" value="" id="contact_email" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Контактное лицо')}</label>
		</td>
		<td>
			<input type="text" name="contact_person" value="" id="contact_person" size="50"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Активный')}</label>
		</td>
		<td>
			<input type="checkbox" value="1" name="active"/>
		</td>
	</tr>
	<tr>
		<td width="40%">
			<label for="code">${_(u'Популярность')}</label>
		</td>
		<td>
			<input type="text" name="popularity" value="" id="popularity" size="5"/>
		</td>
	</tr>
	</table>
	<input type="submit" name="save" value="${_(u'Сохранить')}"/>
</div>
</form>
</div>
