@CHARSET "UTF-8";
div.currency-container{
	padding-top: 10px;
	padding-bottom: 5px;
}
div.currency-toolbar{
	padding: 5px;
	text-align: left;
}
div.add-tool{
	padding-left: 25px;
	background: transparent url(../img/icons/add.png) no-repeat left center;
}
div.refresh-tool{
	padding-left: 25px;
	background: transparent url(../img/icons/arrow_refresh.png) no-repeat left center;
}
table.admin-currency{
	width: 50%;
	background-color: #fafafa;
	border: 1px #d79900 solid;
	margin-bottom: 5px;
}
table.admin-currency tr td{
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	line-height: 15px;	
	padding: 5px;
	border-bottom: 1px #d79900 solid;
}
table.admin-currency tr th{
	padding: 5px;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	line-height: 20px;	
	border-bottom: 2px solid #d79900;
	background-color: #fff2ba;
}
div.country-processing{
}
div.back-link{
	padding-left: 25px;
	background: transparent url(../img/icons/arrow_left.png) no-repeat left center;
}
table#one-column-emphasis{
	width: 50%;
	margin-bottom: 5px;
}
#one-column-emphasis td {
	border-top:1px solid #E8EDFF;
	color:#666699;
	padding:10px 15px;
}
#one-column-emphasis th {
	color:#003399;
	font-size:14px;
	font-weight:normal;
	padding:12px 15px;
}
.oce-first {
	background:#D0DAFD none repeat scroll 0 0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
}
table#one-column-emphasis input{
	text-align: center;
	width: 60px;
	font-size: 90%;
	padding: 2px;
	border: none;
	border-bottom: 1px dashed grey;
	background-color: transparent;
}