@CHARSET "UTF-8";
div.countries-container{
	padding-top: 10px;
}
div.countries-toolbar{
	padding: 5px;
	text-align: left;
}
table.admin-countries{
	width: 30%;
	background-color: #fafafa;
	border: 1px #d79900 solid;
}
table.admin-countries tr td{
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	line-height: 15px;	
	padding: 5px;
	border-bottom: 1px #d79900 solid;
}
table.admin-countries tr th{
	padding: 5px;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	line-height: 20px;	
	border-bottom: 2px solid #d79900;
	background-color: #fff2ba;
}
