@CHARSET "UTF-8";
div.clients-container{
	padding-top: 10px;
	padding-bottom: 5px;
}
div.clients-toolbar{
	padding: 5px;
	text-align: left;
}
div.add-tool{
	padding-left: 25px;
	background: transparent url(../img/icons/add.png) no-repeat left center;
}
table.admin-clients{
	width: 100%;
	background-color: #fafafa;
	border: 1px #d79900 solid;
	margin-bottom: 5px;
}
table.admin-clients tr td{
	font-size: 100%;
	font-weight: normal;
	text-align: left;
	line-height: 15px;	
	padding: 5px;
	border-bottom: 1px #d79900 solid;
}
table.admin-clients tr th{
	padding: 5px;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
	line-height: 20px;	
	border-bottom: 2px solid #d79900;
	background-color: #fff2ba;
}
div.country-processing{
}
div.back-link{
	padding-left: 25px;
	background: transparent url(../img/icons/arrow_left.png) no-repeat left center;
}