@CHARSET "UTF-8";
/* { Список категорий на главной */
div.catslist{
	background-image:url(../img/catsmain_bg.png);
	border-top: 1px solid #93c0ff;
	color:#919191;
	font-size:11px;
	margin: 5px 0px 0px 0px;
	padding:0;
	width: 280px;
	position:relative;
}

div.catslist ul {
	list-style-type:none;
	padding:0 1px;
}

div.catslist ul li {
	background-repeat:no-repeat;
	border-color:#CBE3FF;
	border-style:solid;
	border-width:0 0 1px;
	/*height:24px;*/
	margin:0;
	padding:6px 0;
}
div.catslist ul li img{
	float: left;
}
div.catslist ul li.last-cat-item {
	border-width:0 0 0px;
}

div.catslist ul li div{
	margin: 0px 5px 0px 45px;
}
div.catslist ul li div h4 {
	font-size:110%;
}

div.catslist ul li div span {
	font-size:100%;
}

div.catslist ul li h4 a {
	color:#15345C;
	text-decoration:none;
}

div.catslist ul li h4 a:hover {
	color:#15345C;
	text-decoration:underline;
}

div.catslist ul li a {
	color:#919191;
	text-decoration:none;
}

div.catslist ul li a:hover {
	color:#919191;
	text-decoration:underline;
}

div.CategoryBrowserFooter {
	background-color:#FFFFFF;
	background-image:url(../img/catsmain_bottom.png);
	background-repeat:no-repeat;
	height:6px;
	margin-bottom:0px;
	position:relative;
	width:280px;
	z-index:11;
}
/* } Список категорий на главной */

/* { TOP список категорий */
#menuContent {
	background:transparent url(../img/main_nav_ul_line.gif) repeat-x scroll 0 23px;
	height:24px;
	margin:0;
	padding:0;
	width:100%;
}
#menuContent #mainNavUs{
	clear:both;
	margin: 0 auto;
}
#menuContent #mainNavUs ul.mainMenuUs {
	font-size:12px;
	margin:0px 0px 0px 30px;
	padding:0;
	text-align:center;
	white-space:nowrap;
}

#menuContent #mainNavUs li {
	float:left;
	font-size:12px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 0 0 1px;
	padding:0;
	top:1px;
}

#menuContent #mainNavUs a {
	background:transparent url(../img/main_nav_left.gif) no-repeat scroll 0 0;
	border-bottom:1px solid #6288BA;
	cursor:pointer;
	display:block;
	float:left;
	font-size:12px;
	height:23px;
	padding:0 0 0 11px;
	text-decoration:none;
}

#menuContent #mainNavUs a span {
	float:none;
}
#menuContent #mainNavUs a span {
	background:transparent url(../img/main_nav_right.gif) no-repeat scroll right top;
	color:#575757;
	cursor:pointer;
	display:block;
	float:left;
	font-size:12px;
	height:15px;
	padding:5px 11px 3px 0;
}

#menuContent #mainNavUs a span span.biggerFont {
	background:transparent none repeat scroll 0 50%;
	display:inline;
	font-size:14px;
	line-height:12px;
	margin:0;
	padding:0 0 11px;
}

#menuContent #mainNavUs a:hover {
	background-position:0 -28px;
}

#menuContent #mainNavUs a:hover span {
	background-position:100% -28px;
}
#menuContent #mainNavUs a:hover span {
	color:#FFFFFF;
}
#menuContent #mainNavUs #current a {
	background-position:0 -28px;
	border:medium none;
	cursor:pointer;
	height:24px;
}
#menuContent #mainNavUs #current a span {
	background-position:100% -28px;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:normal;
	height:15px;
	padding:5px 11px 4px 0;
}
.ctr {
	text-align:center;
}
/* } TOP список категорий */
/* { Обзор категорий */
table.wd510, table.layoutshell, table.navigation {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
}
td.layoutL{
	text-align:left;
	vertical-align:top;
}
div.breadCrumb2-US {
	padding:9px 1px 10px 0;
	text-align:left;
}
div.breadCrumb2-US a, div.breadCrumb2-US a:visited, div.breadCrumb2-US a:active {
	color:#7D7D7D;
	font-weight:normal;
	text-decoration:underline;
}
td.hdlpad1 {
	padding-bottom:8px;
}
.headline, a.large:link, a.large:visited, a.large:hover, a.large:active {
	font-size:150%;
}
td.layoutR {
	vertical-align:top;
	width:230px;
}
table.topprod {
	border:1px solid #BDD7EF;
	border-collapse:collapse;
	margin-top:17px;
	text-align:left;
	width:230px;
}
td.topprodhdl {
	border-bottom:1px solid #BDD7EF;
	height:23px;
	text-align:center;
}
.bg3dark, .bg3norm, .bgdark {
	background:#BDD7EF none repeat scroll 0 0;
}
.keyword, a.hdl, .subhdl, .naviontxt {
	font-weight:bold;
}
a.cathdl:link, a.cathdl:visited, a.cathdl:hover, a.cathdl:active {
	font-size: 110%;
	font-weight:bold;
}
table.layoutshell a:hover, 
table.layoutshell a:active {
	color:#FF7F00;
}
table.wd750 {style_us.css (line 566)
	border-collapse:collapse;
	border-spacing:0;
	text-align:left;
	width:100%;
}
/* } Обзор категорий */
/* { Дерево категорий */
td.bcrumbhdl {
	height:10px;
	padding-top:5px;
	vertical-align:top;
}
div.tree-link-bold{
	font-weight: bold;
	margin-top: 15px;
}

.level0{
	margin-left: 0px;
}
.level1{
	margin-left: 20px;
}
.level2{
	margin-left: 40px;
}
.level3{
	margin-left: 60px;
}

.level4{
	margin-left: 80px;
}
.level5{
	margin-left: 100px;
}

/* } Дерево категорий */