html {
}
* {
	margin:0;
	padding:0;
}
body{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.22;	
	min-width: 970px;
	margin: 0px 10px 10px 10px;
	background-color: #FFFFFF;
}

h1{
	font-size: 120%;
	margin-bottom:10px;
}

a:link {
	color:#0000CC;
}

.logo{
	width: 360px;
	padding: 2px 0px 5px 0px;
}



