html {
}
* {
	margin:0;
	padding:0;
}
body{
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.22;	
	min-width: 970px;
	margin: 0px 10px 10px 10px;
}
.logo{
	width: 360px;
	padding: 2px 0px 5px 0px;
}

/* { Главное меню навигации */
.top_nav{
	clear: both;
}
.navigator_container{
	float:right;
	margin:0;
	padding:0;
	position:relative;
}
ul.navigator_items li{
	float:right;
	line-height:15px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
	top:1px;	
}
ul.navigator_items li a{
	background:transparent url(../img/bg_menu_left.gif) no-repeat scroll left -8px;
	border-top:1px solid #D5D5D5;
	display:block;
	float:left;
	padding-left:11px;
	text-decoration:none;
}

ul.navigator_items li a span{
	background:transparent url(../img/bg_menu_right.gif) no-repeat scroll right -8px;
	color:#575757;
	display:block;
	float:left;
	padding:3px 11px 4px 0;
}
ul.navigator_items li a:hover span{
	background-position:100% -37px;
	cursor:pointer;
	color: #FFFFFF;
}
ul.navigator_items li a:hover,ul.navigator_items li.navifirst a:hover {
	background-position:left -37px;
	cursor:pointer;
	color: #FFFFFF;
}
ul.navigator_items li.navifirst a{
	background:transparent url(../img/bg_menu_left_round.gif) no-repeat scroll left -8px;
}

ul.navigator_items li.navimember a{
	background:transparent url(../img/bg_member_menu_left.gif) no-repeat scroll left -8px;
}

ul.navigator_items li.navimember a span{
	background:transparent url(../img/bg_member_menu_right.gif) no-repeat scroll left -8px;
}

ul.navigator_items li.navimember a:hover span {
	background:transparent url(../img/bg_menu_right.gif) no-repeat scroll right -37px;
	color: #FFFFFF;
}

ul.navigator_items li.navimember a:hover {
	background:transparent url(../img/bg_menu_left.gif) no-repeat scroll left -37px;
	cursor:pointer;
	color: #FFFFFF;
}
/* } Главное меню навигации */

/* { Домашняя верхняя панель */
.home-top-left{
	background: transparent url(../img/home_top_left.jpg) no-repeat scroll 0%; 
	width: 9px; 
	height: 123px; 
	float: left;	
}
.home-top-right{
	background: transparent url(../img/home_top_right.jpg) no-repeat scroll 0%; 
	width: 9px; 
	height: 123px; 
	float: right;	
}

.zs{
	height:123px;
	margin-bottom: 0px;
	background: transparent url(../img/home_top_bg.jpg) repeat-x;
}

.home-slogan{
	width: 397px;
	height: 48px;
	background: transparent url(../img/header_text.png) no-repeat;
	float: left;
	margin: 50px 0px 0px 600px;
	position: absolute; 
}

.fq2{
	width: 484px;
	height: 101px;
	margin: 22px 10px 10px 40px;
	background: transparent url(../img/home_search_bg.png) repeat-x;
	position:absolute;
}

div.fq2 h4 {
	color:#15345C;
	font-size:13px;
	margin:0pt;
	padding:10px 0px 0px 10px;
}

div.fq2 form{
	position: absolute;
	padding: 10px;
}

.mainQ {
	border:1px solid #7F9DB9;
	color:#000000;
	line-height:28px;
	height: 28px;	
	font-size:150%;
	width:355px;
	margin-top: 5px;
}
.searchSubmit{
	margin: 5px 0px 0px 5px;
	vertical-align:top;
	height: 30px;
	width: 90px;
	background:transparent url(../img/search_submit_big.png);
	border: none;
	color: #994800;
	font-size: 130%;
	cursor: pointer;
}
/* } Домашняя верхняя панель */
/* { Список категорий на главной */
div.catslist{
	background-image:url(../img/catsmain_bg.png);
	border-top: 1px solid #93c0ff;
	color:#919191;
	font-size:11px;
	margin: 5px 0px 0px 0px;
	padding:0;
	width: 280px;
	position:relative;
}

div.catslist ul {
	list-style-type:none;
	padding:0 1px;
}

div.catslist ul li {
	background-repeat:no-repeat;
	border-color:#CBE3FF;
	border-style:solid;
	border-width:0 0 1px;
	/*height:24px;*/
	margin:0;
	padding:6px 0;
}
div.catslist ul li.last-cat-item {
	border-width:0 0 0px;
}

div.catslist ul li div{
	margin-left: 45px;
}
div.catslist ul li div h4 {
	font-size:110%;
}

div.catslist ul li div span {
	font-size:100%;
}

div.catslist ul li h4 a {
	color:#15345C;
	text-decoration:none;
}

div.catslist ul li h4 a:hover {
	color:#15345C;
	text-decoration:underline;
}

div.catslist ul li a {
	color:#919191;
	text-decoration:none;
}

div.catslist ul li a:hover {
	color:#919191;
	text-decoration:underline;
}

div.CategoryBrowserFooter {
	background-color:#FFFFFF;
	background-image:url(../img/catsmain_bottom.png);
	background-repeat:no-repeat;
	height:6px;
	margin-bottom:0px;
	position:relative;
	width:280px;
	z-index:11;
}
/* } Список категорий на главной */
