@CHARSET "UTF-8";
div.adv-block{
	width: 100%;
	line-height: 16px;
	font-size: 12px;
	margin-bottom: 10px;
} 
div.adv-header{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x scroll 0 0;
	height:23px;
	width:100%;	
}
div.adv-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px 0;
	float:right;
	height:23px;
	width:9px;	
}
div.adv-content{
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	font-size: 12px;
	margin:0;
	padding:0px;
	width: 100%;	
}
div.adv-bottom-border{
	clear:both;
	height:1%;
}
div.adv-footer-bar{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;
	height:9px;
	width:100%;	
}
div.adv-bottom-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;
	float:right;
	height:9px;
	width:9px;	
}
div.adv-content img{
	padding-right: 10px;
}
div.adv-header h3{
	color:#15345C;
	float:left;
	padding:5px 0 0 10px;
}
div.adv-content h4{
	font-size:100%;
	font-weight: bold;
}

div.adv-content div.adv-item{
	padding: 10px 0px 0px 0px;
	margin: 0px;
	border: medium none;
	float: left;
	width: 25%;
	display: inline;
	text-align: center;
}
div.adv-content div.adv-item div.subcats{
	text-align: left;
	padding:10px;
}
div.adv-content div.adv-item h3 a{
	color: #666666;
}