a.nu,a.nu:hover {text-decoration:none}
.n_fb {padding:3px 0;margin:2px 0;overflow:hidden;border:1px dashed #B1BFC7;border-left:0;border-right:0}
* HTML .n_fb {height:100%}
.n_b {padding:2px 0}
.b2 {background:url("/img/bul.gif") no-repeat 0px 9px;padding:2px 8px}

.n_fb DIV.p {float:right;width:90px;text-align:center}
.n_fb DIV.p IMG,.n_pb DIV.p IMG {/*border:1px solid #999*/border:1px solid #FFF;clear:both;max-height:80px;max-width:80px;}
.n_fb A.m,.n_pb A.m,.n_b A.m {display:inline;outline:none}
.n_fb A.m {/*width:auto;margin-right:92px*/}
.n_fb A.m.full {/*width:100%;*/margin-right:0}
.n_fb A:hover.m,.n_pb A:hover.m, .n_b A:hover.m {text-decoration:none !important}

.n_fb H1,.n_b A.m H1 {margin:0;padding:0;display:inline}
.n_fb H1 {font-size:100%;font-weight:normal;text-decoration:underline;color:#004586;display:inline}
.n_fb SPAN.d {white-space:nowrap;text-decoration:none}

.n_fb.na {border:0 !important;padding:3px 0}

.n_fb DIV.q {text-decoration:none;color:#000}

.n_fb DIV.i,.n_b DIV.i {border:0;margin:0 0 0 0;}
.n_fb DIV.i {margin-top:1px;}
.n_fb DIV.i SPAN, .n_b DIV.i SPAN, .n_b DIV.i A, .n_fb DIV.i A {display:inline !important;margin-right:10px;color:#888;}

.n_fb DIV.i,.n_b SPAN.d,.n_b DIV.i, .n_fb SPAN.d,.n_pb DIV.i {font:11px Tahoma;color:#888}
.n_fb DIV.i SPAN, .n_b DIV.i SPAN, .n_fb SPAN.d {}
.n_fb SPAN.rubr {color:#000;margin-right:0 !important}
.n_fb DIV.i .more, .n_b DIV.i .more {text-decoration:underline;color:#004586}

.n_b DIV.p {display:none}
.n_b DIV.q {display:none}
.n_b A.m H1 {font-weight:normal;font-size:100%;display:inline}
.n_b A:hover.m H1 {text-decoration:underline}
.n_b SPAN.d {display:inline}
.n_b A.m {outline:none}
.n_b DIV.i {display:none}
.n_b A:visited H1,.n_fb A:visited H1 {color:#505}

.n_fb A.go_link {float:right;visibility:hidden}
.n_b .go_link {color:#888}
.s_link, .g_link {color:#060 !important;text-decoration:none;font:13px Arial}
.s_link {color:#004586 !important;text-decoration:underline;margin-left:10px}
