@CHARSET "UTF-8";
div.newscats-block{
	width: 100%;
	margin-bottom: 10px;
} 
div.newscats-header{
	background:transparent url(../images/bgs/top_grey_border.gif) no-repeat left top;
	min-height:9px;
	height: 9px;
	width:100%;	
	padding: 0px;
	margin: 0px;
	font-size:2px;
}
div.newscats-right-corner{
	background:transparent url(../images/bgs/top_grey_border.gif) no-repeat -1991px top ;
	float:right;
	width:9px;
	min-height:9px;
	height: 9px;
	font-size:2px;
}
div.newscats-content{
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	font-size: 12px;
	margin:0;
	padding:5px 9px 0;
	text-align: justify;
}
div.newscats-bottom-border{
	clear:both;
	height:1%;
}
div.newscats-footer-bar{	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;	height:9px;	width:100%;		font-size: 1px;
}
div.newscats-bottom-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;
	float:right;
	height:9px;
	width:9px;	
}
div.newscats-content img{
	margin-top: 10px;
	margin-right: 10px;
	border: none;
}
div.newscats-content h3{
	padding: 5px;
}


/***********************************************/
div.newslist-block{
	width: 100%;
	line-height: 16px;
	font-size: 12px;
	margin-bottom: 10px;
} 
div.newslist-header{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x scroll 0 0;
	height:23px;
	width:100%;	
}
div.newslist-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px 0;
	float:right;
	height:23px;
	width:9px;	
}
div.newslist-content{
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	font-size: 12px;
	margin:0;
	padding:0px;
}
div.newslist-bottom-border{
	clear:both;
	height:1%;
}
div.newslist-footer-bar{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;
	height:9px;
	width:100%;	
	font-size: 1px;
}
div.newslist-bottom-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;
	float:right;
	height:9px;
	width:9px;	
}
div.newslist-content img{
	padding-right: 10px;
	text-align: left;
}
div.newslist-header h3{
	color:#15345C;
	float:left;
	padding:5px 0 0 10px;
}
div.newslist-content h4{
	font-size:100%;
	font-weight: bold;
}

div.newslist-content div.newslist-item{
	padding: 10px;
	margin: 0px;
	border: medium none;
	clear: both;
}
div.newslist-content div.newslist-item h3 a{
	color: #666666;
}
table.cats-table{
	width: 100%;
}
table.cats-table td a{
	font-weight: bold;
}
table.cats-table td{
	padding-right: 5px;
}
div.newcat-item{
	margin: 5px 0px;
}
div.newcat-active{
	border: 1px solid #E7E7E7;
	background-color: #F7F7F7;
	padding: 5px;
}
div.pager{
	width: auto;
	text-align: center;
	padding: 5px;
}