@CHARSET "UTF-8";div.silogin-block{	width: 100%;	margin-bottom: 10px;}div.silogin-block input{	padding: 2px;	font-size: 120%;	font-weight: bold;	border:1px solid #7F9DB9;		width: 150px;}div.silogin-block input.silogin_btn{	width: 80px;	height: 24px;	font-size: 120%;	color: #FFFFFF;	border:none;	background: transparent url(../images/login_btn.png) no-repeat top left;	margin: 5px 0px 0px 100px;	}
div.silogin-header{
	background:transparent url(../images/bgs/top_grey_frame.gif) no-repeat left top;
	min-height:7px;
	height: 7px;
	width:100%;	
	padding: 0px;
	margin: 0px;
	font-size:2px;
}
div.silogin-right-corner{
	background:transparent url(../images/bgs/top_grey_frame.gif) no-repeat -961px top ;
	float:right;
	width:9px;
	min-height:7px;
	height: 7px;
	font-size:2px;
}
div.silogin-content{
	border-left:1px solid #d6d6d6;
	border-right:1px solid #d6d6d6;	background-color: #efefef;
	font-size: 12px;
	margin:0;
	padding:0px 2px;
	text-align: justify;
}
div.silogin-bottom-border{
	clear:both;
	height:1%;
}
div.silogin-footer-bar{	background:transparent url(../images/bgs/bottom_grey_frame.gif) repeat-x left bottom;	height:7px;	width:100%;	font-size: 1px;	}
div.silogin-bottom-right-corner{	background:transparent url(../images/bgs/bottom_grey_frame.gif) no-repeat -961px bottom;	float:right;	height:7px;	width:9px;	}
div.silogin-content img{
	margin-top: 10px;
	margin-right: 10px;
	border: none;
}
div.silogin-content h3{
	padding: 5px;
}