.v_pic, .s_pic {margin-right:9px; margin-bottom:9px; border:0px; float:left;}.s_a {float:right}
.v_text {color:#000; text-decoration:none}
.w1{float:right; width:7%}.w2{float:right; width:7%; padding-left:5px;}.w3{float:right; text-align:right;letter-spacing : -1px; width:60%;white-space:nowrap;}.w4{float:left;width:15%;padding-left:11px;}
.tv1 {cursor:hand;float:right; width:50px; text-align:right}
.tv2 {cursor:hand;float:right; width:120px; color:#000; font-size:90%;-o-text-overflow: ellipsis; white-space:nowrap; text-overflow : ellipsis; overflow : hidden; }
.tv3 {float:left;width:30px;padding-left:11px;}
.a_button {margin-top:15px; float:left; width:250px; padding-bottom:20px; }
.a_d1 {float:left; width:49%}
.a_d2 {font-family:tahoma;}
.a_d3 { float:right; width:90px}
.mm {width:46%}
.r_link {font-weight:bold; font-family:verdana; color:#005A92}

.more{white-space: nowrap;background:url("../images/more.gif") right no-repeat;padding:0 0px; width:11px; height:13px;line-height:13px;padding-right:12px;}
* HTML .more {padding:0;padding-right:12px;}