@CHARSET "UTF-8";div.categories-block{	width: 100%;	margin-bottom: 10px;}
div.categories-block span.link-more{	padding-right: 10px;}
div.categories-block a.bigcat{	font-size: 130%;	font-weight: bold;	color: #000000;}
div.categories-block .link-more{	float: right;}
div.categories-block h3{	color:#CC6600;}
div.categories-block table td{	font-size: 13px;}
div.categories-header{	background:transparent url(../images/bgs/top_grey_border.gif) no-repeat left top;	min-height:9px;	height: 9px;	width:100%;		padding: 0px;	margin: 0px;	font-size:2px;}
div.categories-right-corner{	background:transparent url(../images/bgs/top_grey_border.gif) no-repeat -1991px top ;	float:right;	width:9px;	min-height:9px;	height: 9px;	font-size:2px;}
div.categories-content{	border-left:1px solid #EBEBEB;	border-right:1px solid #EBEBEB;	font-size: 12px;	margin:0;	padding:5px 0px 0;	text-align: justify;	position: relative;}
div.categories-content div.categories-header-text{	clear: both;	padding-left: 10px;}
div.categories-content div.categories-image{
	width: 40%;
	float: left;
	vertical-align: middle;
	text-align: center;
	display: inline;
}
div.categories-content div.categories-list{
	float: right;
}
div.categories-content div.categories-right-column{
	float: left;
}
div.categories-content div.categories-left-column{
	width: 30%;
	float: left;
	display: inline;
}

div.categories-bottom-border{
	clear:both;
	height:1%;
}
div.categories-footer-bar{	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;	height:9px;	width:100%;		font-size: 1px;
}
div.categories-bottom-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;
	float:right;
	height:9px;
	width:9px;	
}
div.categories-content img{
	margin-top: 10px;
	margin-right: 10px;
	border: none;
}
div.categories-content h3{
	padding: 5px;
}


div.popcats-block{	width: 100%;	line-height: 16px;	font-size: 12px;	margin-bottom: 10px;} 
div.popcats-header{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x scroll 0 0;
	height:23px;
	width:100%;	
}
div.popcats-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px 0;
	float:right;
	height:23px;
	width:9px;	
}
div.popcats-content{	border-left:1px solid #EBEBEB;	border-right:1px solid #EBEBEB;	font-size: 12px;	margin:0;	padding:0px;	width: auto;	}
div.popcats-bottom-border{	clear:both;	height:1%;}
div.popcats-footer-bar{	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;	height:9px;	width:auto;		font-size: 1px;}
div.popcats-bottom-right-corner{	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;	float:right;	height:9px;	width:9px;	}
div.popcats-content img{	padding-right: 10px;}
div.popcats-header h3{	color:#15345C;	float:left;	padding:5px 0 0 10px;}
div.popcats-content h4{	font-size:100%;	font-weight: bold;}

div.popcats-content div.popcats-item{	padding: 10px 0px 0px 0px;	margin: 0px;	border: medium none;	float: left;	width: auto;	display: inline;	text-align: center;}
div.popcats-content div.popcats-item div.subcats{
	text-align: left;
	padding:10px;
}
div.popcats-content div.popcats-item h3 a{
	color: #666666;
}/* { Обзор категорий */table.wd510, table.layoutshell, table.navigation {	border-collapse:collapse;	border-spacing:0;	width:100%;	font-size: 12px;	margin-bottom: 10px;}td.layoutL{	text-align:left;	vertical-align:top;}div.breadCrumb2-US {	padding:9px 1px 10px 0;	text-align:left;	font-size: 13px;}div.breadCrumb2-US a, div.breadCrumb2-US a:visited, div.breadCrumb2-US a:active {	color:#7D7D7D;	font-weight:normal;	text-decoration:underline;}td.hdlpad1 {	padding-bottom:8px;}.headline, a.large:link, a.large:visited, a.large:hover, a.large:active {	font-size:150%;}td.layoutR {	vertical-align:top;	width:230px;}table.topprod {	border:1px solid #BDD7EF;	border-collapse:collapse;	margin-top:17px;	text-align:left;	width:230px;}td.topprodhdl {	border-bottom:1px solid #BDD7EF;	height:23px;	text-align:center;}.bg3dark, .bg3norm, .bgdark {	background:#BDD7EF none repeat scroll 0 0;}.keyword, a.hdl, .subhdl, .naviontxt {	font-weight:bold;}a.cathdl:link, a.cathdl:visited, a.cathdl:hover, a.cathdl:active {	font-size: 110%;	font-weight:bold;}table.layoutshell a:hover, table.layoutshell a:active {	color:#FF7F00;}table.wd750 {style_us.css (line 566)	border-collapse:collapse;	border-spacing:0;	text-align:left;	width:100%;	font-size: 12px;}a.list-subcat{	color: #666666;}/* } Обзор категорий *//* { Дерево категорий */td.bcrumbhdl {	height:10px;	padding-top:5px;	vertical-align:top;	font-size: 12px;}div.tree-link-bold{	font-weight: bold;	margin-top: 15px;}.level0{	margin-left: 0px;}.level1{	margin-left: 20px;}.level2{	margin-left: 40px;}.level3{	margin-left: 60px;}.level4{	margin-left: 80px;}.level5{	margin-left: 100px;}td.websrccat {	height:54px;	vertical-align:top;	width:33%;}/* } Дерево категорий *//* { Категория */div.newIntro {	color:#7D7D7D;	font-size:13px;	margin:20px 2px 28px;}td.layoutM{	width:10px;}td.layoutR{	vertical-align:top;	width:230px;	}table.newCatTable {	background-image:url(../images/css/bg/bg_newTable.gif);	background-position:center bottom;	background-repeat:repeat-x;	border-color: #93C0FF;	border-style:none solid solid;	border-width:medium 1px 1px;	margin:0 0 20px;	width:100%;}table.newCatTable td {	padding:15px 15px 5px;}td.subcat {	padding-bottom:5px;	padding-top:10px;	vertical-align:top;	width:50%;}.newCatTable dl.subcatbox {	margin-top:0;}dl.subcatbox {	margin-bottom:10px;}table.newCatTable td a.hdl{	color:#000000;	font-size:110%;	text-decoration:none;}table.newCatTable td a.subnr {	color:#7D7D7D;	font-size:13px;	text-decoration:underline;}dl.subcatbox dd {	margin-left:5px;	padding:2px 0;}.subnr {	color:#7D7D7D;	font-size:90%;}table.TrendProducts {	border:1px solid #CCDEF8;	width:100%;}table.TrendProducts thead td {	background:transparent url(../images/bg3box.gif) repeat-x scroll 0 0;	color:#000000;	font-size:12px;	font-weight:bold;	height:26px;	padding:0 0 0 8px;	text-align:left;	vertical-align:middle;}table.newRecentReviewsTable {	background-image:url(http://images.ciao.com/iuk/images/tabs/bg_newTable.gif);	background-position:center bottom;	background-repeat:repeat-x;	border:1px solid #A4D67A;	margin-bottom:15px;	width:100%;}table.newRecentReviewsTable th.title {	border-bottom:1px solid #A4D67A;	border-right:0 none;	color:#000000;	font-weight:bold;	height:26px;	text-align:left;}table.newRecentReviewsTable th {	background-image:url(../images/bg12box.gif);	background-position:center top;	background-repeat:repeat-x;}table.newRecentReviewsTable th {	font-size:12px;	padding-left:9px;	padding-right:8px;	white-space:nowrap;	}.searchResults2offers {	border-color: #CCCCCC;	border-style:none solid;	border-width:0 1px;	width:100%;}.searchResults2 tbody td {	color:#7D7D7D;	text-align:center;	padding:5px;	vertical-align:middle;}.searchResults2offers tbody td.compare {	background:#EDF6FF none repeat scroll 0 0;	padding:0 3px;	width:20px;	vertical-align: middle;}.searchResults2offers tbody td {	border-bottom:1px solid #CCCCCC;}.alignLeft {	text-align:left !important;}.searchResults2 tbody td a {	font-size: 120%;	font-weight: bold;	text-decoration:underline;}.searchResults2 td.noWrap {	width:200px;}.searchResults2 td.noWrap a{	font-size: 100%;}div#leafCatContent table.navigationNumbers, #leafCatContent-RightNavigation table.navigationNumbers {	position:relative;	top:-1px;}.bg3light, .bglight {	background:#EDF6FF none repeat scroll 0 0;}.resultrangedownbg3, .resultrangedownbg32 {	border-color: #BDD7EF;	border-style:none solid solid;	border-width:0 1px 1px;	width:100%;}td input.compare-btn{	height: 24px;	width: 180px;	color: #FFFFFF;	background: transparent url(../images/orange_180px_btn.png) no-repeat top left; 	border: none;	font-weight: bold;	cursor: pointer;	margin: 5px 0px;	font-size: 11px;}td#pagination{	vertical-align: middle;}.searchResults2 tbody td a.opinions-link{	font-size: 90%;	color: #666666;	font-weight: normal;	text-decoration: underline;}.searchResults2 tbody td a.opinions-link:hover{	color: #FF7F00;}span.add-price{	font-size: 90%;}td.rangenextpage {	text-align:right;	white-space:nowrap;	vertical-align: middle;}/* } Категория */