@CHARSET "UTF-8";
/* { Закладки */
#prodNav, .prodNav {
	background-position:center bottom;
	background-repeat:repeat-x;
	float:left;
	line-height:22px;
	width:100%;
	margin-top: 20px;
}
.ptab4onbd {
	background:transparent url(../images/bgs/bg_prodnavi_3.gif) repeat top left;
}

#prodNav ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0 10px 0;
}
#prodNav li {
	display:inline;
	margin:0;
	padding:0;
	
}

#prodNav a {
	float:left;
	font-size:13px;
	margin:0 2px 0 0;
	padding:0 0 0 9px;
	text-decoration:none;
}

#prodNav a span {
	float:none;
}

#ptab1 a{
	background:transparent url(../images/bgs/bg_prodnavi_3_L.gif) repeat 0 0;	
}
#ptab1 a span{
	padding:3px 15px 3px 6px;
	background:transparent url(../images/bgs/bg_prodnavi_3_R.gif) repeat top right;		
}

#ptab1on a{
	background:transparent url(../images/bgs/bg_prodnavi_3_L.gif) repeat 0 -23px;	
	font-size: 12px;
}
#ptab1on a span, #ptab2on a span, #ptab3on a span{
	padding:4px 15px 3px 6px;
	background:transparent url(../images/bgs/bg_prodnavi_3_R.gif) repeat right -23px;		
	font-size: 12px;
}

.ptab2onbd {
	background:transparent url(../images/bgs/bg_prodnavi_12.gif) repeat 0 0;
}

#ptab2on a{
	background:transparent url(../images/bgs/bg_prodnavi_12_L.gif) repeat 0 -23px;	
	font-size:12px;
}
#ptab2on a span{
	padding:4px 15px 3px 6px;
	background:transparent url(../images/bgs/bg_prodnavi_12_R.gif) repeat right -23px;		
	font-size:12px;
}

table.resultrangetopPriceComp2 {
	border-color: #C0C3C7;
	border-spacing:0;
	border-style:none solid;
	border-width:0 1px;
	clear:both;
	margin:0;
	padding:0;
	width:100%;
}
.resultrangetopPriceComp2 td {
	color:#666666;
	font-size:12px;
}
td.rangearticles {
	height:26px;
	padding-left:7px;
	text-align:left;
	white-space:nowrap;
	vertical-align:middle;
	width:20%;
}
td.rangepages {
	height:26px;
	text-align:center;
	width:60%;
}
td.rangenextpage {
	height:26px;
	padding-right:7px;
	text-align:right;
	white-space:nowrap;
	width:20%;
}
.bg3boxgdt {
	background:transparent url(../images/bgs/bg3box.gif) repeat-x 0 0;
}
.bg12boxgdt {
	background:transparent url(../images/bgs/bg12box.gif) repeat-x 0 0;
}
/* } Закладки */