@CHARSET "UTF-8";
div.mostpopular-cloud{
	width: 100%;
	line-height: 22px;
	margin-bottom: 10px;
	line-height: 28px;
} 
div.cloud-header{
	background:transparent url(../images/bgs/top_grey_border.gif) repeat-x scroll 0 0;
	height:9px;
	max-height:9px;
	width:auto;
	font-size: 6px;	
}
div.cloud-right-corner{
	background:transparent url(../images/bgs/top_grey_border.gif) no-repeat -1991px 0;
	float:right;
	height:9px;
	max-height:9px;
	width:9px;	
}
div.cloud-content{
	border-left:1px solid #EBEBEB;
	border-right:1px solid #EBEBEB;
	font-size: 12px;
	margin:0;
	padding:5px 9px 0;	
}
div.cloud-bottom-border{
	clear:both;
	height:1%;
}
div.cloud-footer-bar{
	background:transparent url(../images/bgs/module_frame_borders.gif) repeat-x 0 -23px;
	height:9px;
	width:100%;	
}
div.cloud-bottom-right-corner{
	background:transparent url(../images/bgs/module_frame_borders.gif) no-repeat -1991px -23px;
	float:right;
	height:9px;
	width:9px;	
}
div.cloud-content span.subtitle{
	color:#999999;
	font-size:100%;	
}

div.ratedcl-block{
	width: 100%;
	margin-bottom: 10px;
}
div.ratedcl-block input{
	padding: 2px;
	font-size: 120%;
	font-weight: bold;
	border:1px solid #7F9DB9;	
	width: 150px;
}
div.ratedcl-block input.ratedcl_btn{
	width: 80px;
	height: 24px;
	font-size: 120%;
	color: #FFFFFF;
	border:none;
	background: transparent url(../images/ratedcl_btn.png) no-repeat top left;
	margin: 5px 0px 0px 100px;	
}

div.ratedcl-header{
	background:transparent url(../images/bgs/top_orange_frame.gif) no-repeat left top;
	min-height:3px;
	height: 3px;
	width:100%;	
	padding: 0px;
	margin: 0px;
	font-size:2px;
}
div.ratedcl-right-corner{
	background:transparent url(../images/bgs/top_orange_frame.gif) no-repeat -961px top ;
	float:right;
	width:9px;
	min-height:3px;
	height: 3px;
	font-size:2px;
}
div.ratedcl-content{
	border-left:1px solid #fed058;
	border-right:1px solid #fed058;
	background-color: #fef0c1;
	font-size: 12px;
	margin:0;
	padding:0px 2px;
	text-align: justify;
}
div.ratedcl-bottom-border{
	background-color: #FFFFFF;
	clear:both;
	height:3px;
}
div.ratedcl-footer-bar{
	font-size: 1px;
	background:transparent url(../images/bgs/bottom_orange_frame.gif) repeat-x left bottom;
	height:3px;
	min-height: 3px;
	width:100%;	
}
div.ratedcl-bottom-right-corner{
	background:transparent url(../images/bgs/bottom_orange_frame.gif) no-repeat -961px bottom;
	float:right;
	height:3px;
	min-height: 3px;
	width:9px;	
}
div.ratedcl-content img{
	margin-top: 10px;
	margin-right: 10px;
	border: none;
}
div.ratedcl-content h3{
	padding: 5px;
	color:#333333;
}
div.ratedcl-content a{
	font-weight: bold;
}
div.ratedcl-content a:hover{
	color:#CC6600;
	text-decoration: none;
}

div.ratedcl-content span.link-more a{
	font-weight: normal;
}
div.ratedcl-content span.link-more a:hover{
	color: #999999;
	text-decoration: none;
}