@CHARSET "UTF-8";
table.resultrangetop3bd {
	border-color: #CCCCCC;
	border-style:solid solid none;
	border-width:1px 1px 0pt;
	width:100%;
	font-size: 12px;
}

.bg2norm {
	background-color:#FEFDC3;
}

td.letterShopsNavHead {
	height:26px;
	padding-left:7px;
	text-align:left;
	white-space:nowrap;
	font-weight: bold;
}
td.letterShopsNavHead a{
	font-weight: normal;
}
table.priceComp, table.common {
	background-color:#BDD7EF;
	width:100%;
}

thead th, thead td {
	font-size:13px;
	font-weight:bold;
	height:40px;
	padding-left:9px;
	padding-right:8px;
	white-space:nowrap;
	background-color:#EDF6FF;
}

table.common tbody td {
	background:#FFFFFF none repeat scroll 0%;
	color:#7D7D7D;
	padding:3px 3px 3px 10px;
	text-align:center;
	font-size: 12px;
}

.alignLeft {
	text-align:left !important;
}

.resultrangedownbg3, .resultrangedownbg32 {
	border-color:#BDD7EF;
	border-style:none solid solid;
	border-width:0pt 1px 1px;
	width:100%;
}

td.rangenextpage {
	height:26px;
	padding-right:7px;
	text-align:right;
	white-space:nowrap;
	width:20%;
}
.to-store-btn{
	background: transparent url(../images/to_store_btn.png) no-repeat right top;
	width: 90px;
	height: 20px;
	border: none;
	color: white;
	cursor: pointer;
}
.country-flag{
}
.store-location{
	display: table-cell; 
	vertical-align: middle;
	height: 50px;
}
div.breadCrumb2-US {
	padding:9px 1px 10px 0;
	text-align:left;
	font-size: 13px;
}

.add-store-btn{
	width: 200px;
	height: 25px;
	border: none;
	background: transparent url(../images/add_client_btn.png) no-repeat top left;
	margin-top: 20px;
	font-size: 13px;	
	cursor: pointer;
}
div.add-client-box{
	font-size: 12px;
	line-height: 16px;
}
div.add-client-box h3{
	margin-bottom: 10px;
}
div.add-client-box table tr td{
	font-size: 12px;
}
table.client-products{
	width: 100%;
	border: 1px solid #bdd7ef; 
	font-size: 12px;
	margin-top: 10px;
}
table.client-products td{
	padding: 2px 2px 2px 10px;
}
div.client-categories{
	font-size: 12px;
}
div.client-categories h3{
	margin-bottom: 10px;
}
/* { Client Info */
#proMem {
	margin-bottom:15px;
	text-align:left;
	width:100%;
	font-size: 12px;
}
#proMem td.imgProd {
	padding-top:5px;
	text-align:center;
	width:220px;
}
#proMem td {
	padding:0;
	vertical-align:top;
}
#proMem td.contentProd {
	padding:5px 15px 0 20px;
}
#proMem td h1.prodPage {
	font-weight:bold;
	margin-left:15px;
	padding:0;
}
#proMem td h1 {
	display:inline;
	font-size:160%;
	font-weight:normal;
}
p.descr{
	margin-top: 10px;
}
.quickrateContainer {
	clear:both;
	height:22px;
	margin-top:2px;
	padding-left:0;
	white-space:nowrap;
	margin-bottom: 10px;	
}
.quickrateContainer .left-rates{
	height:23px;
	width: 3px;
	display:block;
	float: left;
	background:transparent url(../images/prodpage_quickreview_bg.gif) no-repeat top left;
}

.quickrateContainer .title {
	height:18px;
	color:#575757;
	float:left;
	font-size:12px;
	padding: 5px 3px 0px 4px;
	vertical-align:middle;
}
.quickrateContainer .rates{
	float:left;
	background:transparent url(../images/prodpage_quickreview_bg.gif) no-repeat top right;
	width: 230px;
}
.quickrateContainer #rates{
	padding: 3px 3px 0px 8px;
	height:18px;
}

table.clientInfo{
}

table.clientInfo td{
	vertical-align: bottom;
}
table.clientInfo, table.clientInfo td table{
	font-size: 12px;
}
table.clientInfo td table td.title {
	background:transparent url(../images/dots.gif) repeat-x scroll right bottom;
}
table.clientInfo td table td.title span{
	background-color:white;
	color:#0033CC;
	padding-right:2px;
	
}
.btnL {
	background:transparent url(../images/action_btn.png) no-repeat left top;
	margin:0;
	padding:0 0 0 3px;
	height: 24px;
	width: 160px;
	border: none;
	cursor: pointer;
	font-size: 12px;
}
.btnR {
	background:transparent url(../images/write_a_review.gif) no-repeat left top;
	margin-top:10px;
	padding:5px 20px 5px 30px;
	height: 24px;
	width: 140px;
	border: none;
	cursor: pointer;
	font-size: 12px;
	color: silver;
	text-decoration: none;
}

table.review2 {
	border-color:#A4D67A;
	border-style:solid solid none;
	border-width:1px 1px 0;
	font-size: 12px;
}

table.review, table.review2 {
	background:#A4D67A none repeat scroll 0 0;
	width:100%;
}

table.review td.teaser, table.review2 td.teaser, table.guest td.teaser {
	color:#000000;
	text-align:left;
	vertical-align:top;
}

table.review2 tbody td, table.review2 tfoot td {
	border-bottom:1px solid #A4D67A;
}

table.review tbody td, table.review2 tbody td, table.trust tbody td, table.guest tbody td, table.stats tbody td {
	background-color:#FFFFFF;
	color:#7D7D7D;
	padding:10px;
	text-align:center;
}
table tfoot td {
	height:30px;
	padding:0 8px !important;
	text-align:left;
}
/* } Client Info */
/* { Review */
div.edit-review{
	
}
div.edit-review-header{
	height:30px;
	background-image:url(../images/sprites_bg_gradient.png);
	background-position:0 0;
	background-repeat:repeat-x;	
	border-left: 1px solid #CCDEF8; 
	border-top: 1px solid #CCDEF8;
	border-right: 1px solid #CCDEF8;
}
div.edit-review-header span.header-text{
	color:#7996C4;
	font-size:120%;
	position:relative;
	padding: 10px;
}
div.review-client-header{
	margin: 10px 0px 10px 0px;
}
div.review-client-header a{
	font-size: 120%;
	text-decoration: underline;
}
div.review-client-header a:HOVER {
	color: #FF7F00;
}
div.review-content{
	border:1px solid #C5E6A9;
	font-size: 12px;
}
div.review-content-header{
	background-image:url(../images/sprites_bg_gradient.png);
	background-position:0 -40px;
	background-repeat:repeat-x;
	height:30px;	
	font-weight: bold;
	padding: 7px 0px 0px 7px;
}
div.review-content div.content{
	padding: 10px;
}
span.rate-title{
	font-size: 110%;
	font-weight: bold;
	padding-right: 10px; 
}
div#rating{
	display: inline;
	padding: 5px 0px 0px 0px;
}
div#rating span {
    margin-left: 3px;
    font-size: 0.8em;
}

div.review-title, div.review-review, div.review-pos, div.review-neg{
	margin-top: 10px;
}
div.review-title p, div.review-review p, div.review-pos p, div.review-neg p{
	font-weight: bold;
	padding-bottom: 10px;
}

img.quote-left {
	background:transparent url(../images/sprites_icon.gif) no-repeat scroll -60px top;
	height:15px;
	margin:0 8px 5px 0;
	width:20px;
}

img.quote-right {
	background:transparent url(../images/sprites_icon.gif) no-repeat scroll -100px top;
	height:15px;
	margin:0 5px -16px 8px;
	width:20px;
}
div.review-title input, div.review-pos input, div.review-neg input{
	width: 450px;
	border:1px solid #D1D1D1;
	padding:3px;
}
div.review-review textarea{
	width: 475px;
	border:1px solid #D1D1D1;
	padding:3px;
	height:175px;
}
div.review-pos label{
	background:transparent url(../images/readrev_advantages_small.gif) no-repeat left 4px;
	padding:0 0 5px 15px;	
}
div.review-neg label{
	background:transparent url(../images/readrev_disadvantages_small.gif) no-repeat left 4px;
	padding:0 0 5px 15px;	
}
.save-button{
	width: 140px;
	height: 30px;
	background:transparent url(../images/save_review_btn.png) no-repeat left top;
	border: none;
	margin-top: 10px;
}
div.review-descr{
	background:transparent url(../images/reviews_descr.png) no-repeat left top;
	padding: 10px 10px 30px 100px;
	color: gray;
}
div.review-nolog{
	padding: 10px 10px 10px 10px;
	font-size: 110%;
}
div.review-error{
	border:1px solid #EEB3A8;
	margin: 5px;
	color: red;
	font-weight: bold;
}
div.review-error-header{
	background-image:url(../images/sprites_bg_gradient.png);
	background-position:0 -240px;
	background-repeat:repeat-x;
	height:30px;
}
div.review-error-content{
	padding: 10px;
}
span.r-title{
	color:#0033CC;
	font-size: 110%;
	font-weight: bold;
}
/* } Review */
