body{
	font-size:80% !important;
}
#KB{
	background:#ddd;
	display:block;
	text-decoration:none;
	position:absolute;
	top:-15px;
	height:14px; 
	width:15px; 
	overflow:hidden;
	text-align:center; 
	font-size:11px;
	color:white; 
	padding:2px;
	padding-left:3px
}
*HTML #KB{
	height:19px; 
	width:20px;
}
.rp1{
	white-space:nowrap;
	height:20px; 
	overflow:hidden; 
	position:relative
}
.rp2{
	position:relative; 
	z-index:2000;
	font-family:tahoma
}
.fq1{
	position:relative;
	float:left; 
	width:100%;
}
.fq2{
	white-space:nowrap; 
	display:inline; 
	height:23px;
}
.fq3{
	height:25px; 
	width:120px; 
	float:right;
	/*border:1px solid #575757;*/
}
td{
	vertical-align:top;
}
.cTD{
	padding:0 6px;
}
*HTML .cTD{
	padding:0 4px;
}
#bc u{
	font-size:110%; 
	color:#000
}
#bc center{
	margin-top:-3px;
}
#bc a{
	padding-top:3px;
	white-space:nowrap;
	display:block;
	margin:auto;
	text-align:left; 
	color:#444; 
	font-family:tahoma; 
	font-size:90%
}
HTML {  
	filter: expression(document.execCommand("BackgroundImageCache", false, true));
} /* IE flicker bug fix */
table{
	width:100%
} 
* HTML table{
	width:auto
}
body,table{
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family: arial,helvetica,clean,sans-serif;
}
small {
	color:#999
}
.gray{
	color:#999;
}
.c36 {
	color:#036;
}
.c69 {
	/*color:#18397C;*/
	font-family:verdana;
	font-size:77%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:normal;
	white-space:nowrap;	
}
a.help:hover, a.help {
	cursor:help;
	background-color:#FFF5C0; 
	border:1px solid #FFEA80; 
	font-size:80%; 
	margin:0 3px; 
	padding:0 2px; 
	text-decoration:none
}
span.help:hover, span.help {
	border-bottom:1px dashed red; 
	cursor:help
}
.rp {
	float:right;
	text-align:right; 
	padding-right:129px;
}
#news_c {
	padding:1px
}
.b_z,.b_h,.b_h_hd,.mC,.lC,.mCG,.lCG,.b_hc,.caption,#proj_c B,.bold_blue,.r_item a, #rn {
	font-family:Tahoma, Geneva, sans-serif;
}
.login {
	position:absolute; 
	right:20px;
	top:20px; 
	display:none
}
#main_cnt{
	width:100%;
	float:left;
}
.secC {
	position:relative; 
	left:3%;
	border:1px solid #000;
	background:#fff;
	white-space:nowrap;
	width:96%; 
	overflow:hidden
}
iframe.SG {
	position:absolute;
	visibility:hidden;
	display:none;
}
.box,.box_w{
	background:#FFF;
	padding:0;
	margin-bottom:10px;
	width:100%;
	float:left
} 
.box {
	/*background:#FFF url("../images/bg_b_h.gif") top repeat-x;*/
}
.topMenuF,.topMenu,.sb,.b_z,.b_z_hd,.b_h,.b_hz{
	/*background:#F1F5F7 url("../images/bg_b_h.gif") top repeat-x;*/
	border-top:1px solid #B0BEC7; 
}
.topMenu{
	line-height:25px;
	padding-bottom:0;
	padding-left:20px;
}
.topMN, .topMN a {
	color:#878787;
}
.topMN{
	padding:9px 9px;
	line-height:25px;
	height:25px
}
.sb {
	background-color:white
}
.box,img.pic,.box_w,.rhead, .sb, .bn,.show_w,.hide_w,.mess_w{
	border:1px solid #B0BEC7;
}

.mCG{
	border:1px solid #B0BEC7;
}

.mCG{
	border-bottom:1px solid #fff;
}
.rC,.lC,#box input,.i,.sel,.sel_MO{
	background-color:#FFF;
}
.b_h,.b_h_hd,.b_hz{
	border-top:1px solid #B0BEC7;
}
.o,.b_z {
	border-top:1px solid #B0BEC7;
}
.box {
	border-top:0;
}
.box img {
	margin-top:1px;
}
.box_w .b_h {
	border:0; 
	/*height:18px; 
	line-height:18px; */
	border-bottom:1px solid #B0BEC7;
}
.box_w img {
	margin-top:0px;
}
.b_h_ico{
	line-height: 1px;
	position:absolute; 
	top:-17px; 
	left:117px;
	padding:1px;
	margin:0;
	padding-right:3px; 
	float:right
}
.rCG,.lCG{
	background-color:inherit;
}
.rCG:hover,.lCG:hover{
	text-decoration:underline;
}
.rC:hover,.lC:hover,.mC:hover{
	text-decoration:none;
	cursor:default;
}
.lC,.lCG,.rC,.rCG{ 
	white-space:nowrap;
	outline:none;
	cursor:pointer;
	position:relative;
	top:0px;
	left:0;
	text-align:center;
	margin-top:2px;
	width: 75px;
	padding-bottom:0px;
	/*line-height: expression( (document.body.contentEditable!='inherit'|| document.implementation) ? '16px' : '15px' ); */
	float:right;
	border:1px solid #778A98; 
	border-top: none;
	border-right: none;
	border-bottom:none;
	background: inherit;
}

.rc
{
	cursor:default;
	font-weight:bold;
	color: #CC6633;
}

* html .lC,* html .lCG,* html .rC,* html .rCG{
	position:relative;
	top:0px;
}
.mL{
	padding-left:5px;
	position:relative;
	top:-1px;
	left:-1px;
	background:url("../images/crl.gif") left top no-repeat;
}
.mCG .mL {
	background:url("../images/crla.gif") left top no-repeat;
}
.mR{
	padding-right:10px;
	position:relative;
	top:0;
	left:2px;
	background:url("../images/crr.gif") right top no-repeat;
}
.mCG .mR {
	background:url("../images/crra.gif") right top no-repeat;
}

.mC,.mCG{
	cursor:hand;
	line-height:16px;
	outline:none;
	text-decoration:none;
	color:#000000;
	text-align:center;
	cursor:pointer;
	float:left;
	margin-top:0;
	margin-right:4px;
	padding-bottom:1px;
}
.mCG{
	background-color:#FFF;
}
.mC{
	cursor:default;
	font-weight:bold;
	color: #CC6633;
	border:1px solid #B0BEC7;
	border-bottom:1px solid #B0BEC7;
}
a .sb,.b_z,.b_z_hd,.b_hc a,.b_z a,.b_hc,.b_hc_w,.caption,span.r_item,.r_item a,.bold_blue,#rn {
	color:#18397C;
}
.lC,.lCG{
	float:left; 
	top:1px !important;
}
.t{
	FLOAT: left; 
	MARGIN-BOTTOM: 10px; 
	WIDTH: 100%; 
	BORDER-BOTTOM: #B0BEC7 1px solid; 
	TEXT-ALIGN: right
}
.tt{
	POSITION: relative; 
	TOP: -2px
}
.ts{
	FONT-SIZE: 13px; 
	WIDTH: 150px; 
	margin-right:9px;
}
.r1 {
	margin-top:9px !important;
}
.sb{
	width:auto;
	margin-bottom:5px;
	padding:5px;
}
.b{
	font-weight:bold;
}
.b_z,.b_z_hd{
	visibility:visible;
	display:block;
	line-height:28px;
	padding-left:10px;
	font-weight:bold
}
.b_z_hd{
	position:absolute;
	visibility:hidden;
	display:none;
}
.double{
	width:100%;
	display:block;
	clear:both
}
* HTML .single{
	float:expression( document.implementation ? 'none' : 'left' );
}
.topMenu{
	line-height:25px;
	padding-bottom:0;
	padding-left:20px;
}
.center .box{
	width:100%;
}
.md{
	/*width:970px;*/
	text-align:left; 
}
.md,* HTML .md{
	width:970px;
	min-width: 970px;
	width:90%;
}
.r{
	line-height:10px;
	margin-top:0;
	position:relative;
	top:3px;
	padding:5px;
	padding-top:4px;
	float:right;
	margin-right:18px;
}
.roll{
	text-align:left;
	width:25px;
	border:0 solid;
	float:right; 
	cursor:hand; 
	cursor:pointer
}
#proj_cnt ul{
	position:relative;
	left:-12px;
}

#proj_c, #info_c
{
	background-image: url(../images/grd-4px_1.1.gif); 
	background-repeat: repeat-x;	
	/*background-color: #F5F5F5;*/
}

.main_div{
	float:left;
	margin-top:0;
	position:relative;
	left:-2px;
}
.s_button,.y_button,.c_button,.b_button,.g_button{
	background-color:#FFCC00;
	float:none;
	border:1px solid #575757;
	height:20px;
	background-repeat:no-repeat;
}
#z .y_button{
	border:0 solid;
	font-weight:bold;
}
.y_button{
	background:#FFCC00 url("../images/button_search.png");
	border: 0px;
}
.b_button{
	background:#006699 url("../images/button_bg_b.gif");
	color:white;
}
.g_button{
	background:#CCCCCC url("../images/button_bg_g.gif");
}
.s_button{
	background:#CCCCCC url("../images/button_bg_s.gif");
}
.i,#meta_cnt input,.login input{
	border:1px solid #676767;
}
input, select{
	background:white;
	font-size:100%;
}
.zs{
	height:87px;
	margin-bottom:5px;
	border-top:1px solid #B0BEC7;
	border-color:#DBE2E8;
	border-style:solid;
	border-width: 1px 0px 1px;	
	clear:both; 
	width:100%; 
	position:relative; 
	z-index:0
}
.mainQ{
	border:2px inset #aaa;
	width:100%; 
	height:25px; 
	padding-top:3px; 
	font-size:90%; 
	padding-left:3px;
	border-right:1px inset #555;
	border-bottom:1px inset #555
}
* HTML .mainQ {
	border:2px inset #eee;
	border-right:1px inset #ddd;
	border-bottom:1px inset #Ddd
}
+ HTML .MQ{
	padding-right:5px;
	width:100%; 
	padding-right:0px;
}
.MQ{
	height:27px;
	font-size:16px;
	margin-right:125px;
}
* html .MQ{
	margin-top:-1px;
	margin-right:0;
}
.SQ{
	margin-left:60px;
	margin-right:225px;
}
+ HTML .secQ{
	padding-right:5px;
	width:100%; 
	padding-right:0px;
}
.secQ{
	border:2px inset #aaa;
	padding-left:3px;
	font-size:12px;
	width:100%;
	height:20px;
	margin-right:125px;
	border-right:1px inset #555;
	border-bottom:1px inset #555
}
* html .secQ{
	border:2px inset #eee;
	height:19px;
	margin-top:-1px;
	margin-right:-5px;
	border-right:1px inset #DDD;
	border-bottom:1px inset #DDD
}
.check{
	background:none
}
form{
	padding:0;
	margin:0;
}
a{
	color:#003366;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
* html .box {
	float:none
}
.o{
	padding:9px;
	z-index:100;
}
.b_h,.b_h_hd,.b_hz{
	position:relative;
	width:100%;
	/*line-height:28px;
	height:28px;*/
}
.b_h_hd{
	visibility:hidden;
	display:none;
	position:absolute;
	height:0;
}
.o_hd{
	visibility:hidden;
	display:none;
}
.b_hc,.b_hc_w,.caption{
	overflow:hidden;
	/*height:26px;*/
	padding: 2px 9px;
	font-size:100%;
	font-weight:bolder;
	background-image: url(../images/grd-1px_1.1.gif);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.caption{
	padding:0;
	background-image: none;
}
.b_hc_w{
	height:14px;
	padding-top:2px;
}
span.r_item, .r_item a,.bold_blue,#rn{
	font-weight:bolder;
	padding-right:0;
}
a.r_item{
	padding-right:0;
	white-space:nowrap;
}
.b_c{
	float:right;
	width:100%;
}
* html .b_c{
	width:100%;
}
.cb,.cm{
	padding:0 9px; 
	float:none
}
* HTML .cb,* HTML .cm{
	padding:0 4px;
}
.cb, * HTML .cb{
	padding-right:0;
} 
.centerB{
	margin-left:156px;
}
.center{
	margin-left:156px;
	margin-right:240px;
}
.right{
	/*float:right;*/
}
.left,.left_logo{
	float:left;
	width:156px;
}
.ie_div{
	padding-bottom:5px;
}
span.item{
	float:left;
	white-space:nowrap;
	color:#999;
	padding-right:4px;
}
* html span.item{
	float:none;
}
.a{
	position:absolute;
	z-index:99;
}
.orange{
	color:#FF9900;
}
.market_row{
	width:50%;
	float:left;
}
.box_footer{
	margin-top:9px;
	width:100%;
	text-align:center;
	float:right;
	border-top:1px solid #B0BEC7;
}
.hide,.hide_w{
	visibility:hidden;
	display:none;
	position:absolute;
}
.show_w,.hide_w{
	z-index:99;
	background:#FFF;
	text-align:center;
	width:150px;
	float:none;
}
.mess_w{
	z-index:99;
	background:#FFF;
	text-align:center;
	width:150px;
	float:none;
}
.show,.show_w{
	padding:0;
	visibility:visible;
	display:block;
	position:absolute;
}
.show_w{
	background:#DDD;
	margin-top:20px;
	padding:0;
	border:none;
	float:left;
	z-index:9999;
}
.box_w{
	margin:0;
	position:relative;
	top:-5px;
	left:-7px;
	z-index:99999;
}
#meta_cnt input{
	width:70px;
}
#meta_cnt span{
	color:#333;
	text-align:left;
	line-height:21px;
	width:50px;
}
.p_100,.p_100s{
	margin-bottom:0px;
	width:60px;
	white-space:nowrap;
	height:2px;
	overflow:hidden;
}
.right .p_100{
	width:40px;
}
.p_100s{
	margin-bottom:0;
}
.r1{
	float:left;
	width:100%;
}
.r2{
	width:50%;
	float:left;
}
.mo{
	line-height:15px;
}
.hide,.sel,.show,.sel_MO{
	width:150px;
	padding-left:2px;
}
.sel,.sel_MO{
	overflow:hidden;
	background:url("../images/sel_butt.gif") right top no-repeat;
	line-height:18px;
}
.sel{
	border:1px solid #CCC;
}
.sel_MO{
	border:1px solid #aaa;
}
* html .sel,* html .sel_MO{
	height:20px;
}
input.znak{
	line-height:18px;
	border:1px solid #CCC;
}
.cena{
	margin-top:5px;
	float:none;
	margin-left:20px;
	width:120px;
}
* html .cena{
	margin-left:0;
}
.c_button,.r_b{
	z-index:102;
	cursor:pointer;
	margin:2px;
	margin-right:4px;
	clear:both;
	float:right;
	border:0;
	background:#ffd400;
	width:12px;
	height:12px;
}
* HTML .c_button{
	margin-right:1px;
}
.r_b{
	position:relative;
	top:-9px;
	background:#EEF3F6;
}
.r_b_s{
	background:#EEF3F6;
	cursor:pointer;
	position:absolute;
	z-index:99;
}
.rbs{
	float:right;
	line-height:17px;
	padding-bottom:2px;
	position:relative;
	left:-15px;
	top:1px;
	z-index:90;
}
* HTML .r_b{
	margin-right:0;
}
.refr{
	position:absolute;
}
{padding-bottom:2px;}
.m_d{
	line-height:0;z-index:999;
}
.proj_bul{
	list-style:none;
	background:url("../images/bul.gif") no-repeat 4px 7px; 
	padding-left:13px; 
	margin-left:7px;
	white-space:nowrap
}
.mmk_bul{
	list-style:none;
	float:left;background:url("../images/bul.gif") no-repeat 4px 7px; 
	padding-left:13px; 
	margin-left:0px;
	white-space:nowrap;
}
.mm {
	width:46%
}
.item_bul{
	float:left; 
	padding-left:9px; 
	padding-right:3px; 
	margin-left:0px;
	white-space:nowrap
}
.r_item{
	margin-top:5px;
}
.r_it{
	white-space:nowrap;
	padding-right:7px;
}
span.r_it{
	color:#999
}
UL.bul LI,UL.bul_inline LI,.tv3,.w4,DIV.bul,SPAN.bul,A.bul{
	list-style:none;
	margin-left:-3px;
	padding:0 4px 0 11px;
	line-height:16px;
	background:url("../images/bul.gif") no-repeat 4px 7px;
}
#r_cnt .item_bul{
	color:#aaa;
}
UL.bul,UL.bul_inline{
	padding:0;
}
UL.bul,UL.bul LI,DIV.bul,SPAN.bul,A.bul{
	display:block;
	float:none;
	margin:0;
}
SPAN.bul,A.bul{
	padding-top:0;
	padding-bottom:2px;
	display:inline;
}
.cbn {
	float:left;
	width:auto;
	text-align:center;
	margin:0 auto; 
	padding-bottom:9px;
}
* html .cbn {
	/*float:none;* 
	/*width:auto*/
}
.alfa{
	filter:Alpha(Opacity=50) !important;
	opacity:50% !important;
	-moz-opacity:0.5 !important;
	-khtml-opacity:0.5;
}
.f_cnt {
	width:24%;
	text-align:left;
	float:left;
	padding-bottom:7px
}
.f_img {
	position:relative;
	top:3px;
	margin-right:5px
}
.f_proj {
	padding:3px 0 0 5px;
	width:80%;
	float:left
}
.f_proj LI {
	float:left !important;
	clear:none !important;
	white-space:nowrap
}
.selBox {
	height:18px;
	font-weight:normal;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	border:1px solid #878787;
	padding:0;
}
.b_hc h2,.b_hc h1{
	margin:0;
	padding:0;
}

.btn {
	float:none;
	border:0px solid #FFFFFF;
	height:18px;
	background-repeat:no-repeat;
	font-size:100%;
	padding-bottom:3px;
	font:11px Tahoma; 
	background:#F6F9FA url("../images/80.gif"); width:80px;
}
#ednums{
  position: absolute;
  left: 164px;
  bottom: 8px;
  width: 100px;
  text-align: center;
  z-index: 9999;
}
#ednums li{
  display: inline;
  background: #fff;
  margin: 0 3px;
  padding: 4px 0;
  border:  1px solid #d4d4d4; 
}
#ednums li a{
  text-decoration: none;
  padding: 1px 5px;
  border:  1px solid #d4d4d4; 
}

#t_offers{
	width: 100%;
}

#t_offers table{
	width: 100%;	
	font-size: 100%;
}

#t_offers TABLE TD{
	border-bottom: 1px solid #B1BFC7;
	vertical-align: middle;
	text-align: left;
	height:100px;
}

#t_offers TABLE TR{
	height:100px;
}

#t_wuopinion{
	width: 100%;
}

#t_wuopinion table{
	width: 100%;	
	font-size: 100%;
	border-top: 1px solid #888888;
	margin-bottom: 15px;
}

#t_wuopinion TABLE TD{
	/*border-bottom: 1px solid #B1BFC7;*/
	vertical-align: middle;
	text-align: left;
	min-height: 45px;	
}

#t_wuopinion TABLE TR{
	min-height: 45px;	
}

#t_wreview{
	width: 100%;
}

#t_wreview table{
	width: 100%;	
	font-size: 100%;
	border-top: 1px solid #888888;
	margin-bottom: 15px;
}

#t_wreview TABLE TD{
	border-bottom: 1px solid #B1BFC7;
	vertical-align: middle;
	text-align: left;
	min-height: 45px;
	padding-left: 10px;
}

#t_wreview TABLE TD SPAN{
	font-size: 90%;
	color: #888888;
}

#t_wreview TABLE TR{
	min-height: 45px;	
}

#t_cllist{
	width: 100%;
}

#t_cllist table{
	width: 100%;	
	font-size: 100%;
}

#t_cllist TABLE TD{
	/*border-bottom: 1px solid #B1BFC7;*/
	vertical-align: middle;
	text-align: left;
	height:20px;
}

#t_cllist TABLE TR{
	height:20px;
}

#t_clinfo{
	width: 100%;
}

#t_clinfo table{
	width: 100%;	
	font-size: 100%;
}

#t_clinfo TABLE TD{
	border-bottom: 1px solid #B1BFC7;
	vertical-align: middle;
	text-align: left;
	height:30px;
}

#t_clinfo TABLE TR{
	height:30px;
}

#t_brlist{
	width: 100%;
}

#t_brlist table{
	width: 100%;	
	font-size: 100%;
}

#t_brlist TABLE TD{
	/*border-bottom: 1px solid #B1BFC7;*/
	vertical-align: middle;
	text-align: left;
	height:20px;
}

#t_brlist TABLE TR{
	height:20px;
}

#t_newscats{
	width: 100%;
}

#t_newscats table{
	width: 100%;	
	font-size: 100%;
	border-bottom: 1px solid #B1BFC7;
	margin-bottom: 20px;
}

#t_newscats TABLE TD{
	/*border-bottom: 1px solid #B1BFC7;*/
	vertical-align: top;
	text-align: left;
	width: 33%;
	/*height:100%;*/
}

#t_newscats TABLE TR{
	/*height:100px;*/
}

.descr
{
	color: #888888;
	font-size: 90%;
}
.filter-list-element
{
	background:transparent url(../images/plusbullet.png) no-repeat scroll 1px 6px; 
	margin:0px; 
	padding:0pt 0pt 0pt 10px;	
}
.filter-list-element-minus
{
	background:transparent url(../images/minusbullet.png) no-repeat scroll 1px 6px; 
	margin:0px; 
	padding:0pt 0pt 0pt 10px;	
}
