<div class="grid-container" xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/" lang="en" py:strip="False">
<h4>
	${_(u'Прайслисты')} (${c.pquan})
</h4>
<table width="100%" cellpadding="0" cellspacing="0" class="grid">
	<tr>
		<th>${_(u'Клиент')}</th>
		<th>${_(u'Страна')}</th>
		<th>${_(u'Город')}</th>
		<th>${_(u'Дата прайса')}</th>
		<th>${_(u'Загружено')}</th>
		<th>${_(u'Незагружено')}</th>
		<th>&nbsp;</th>
	</tr>
	<tr py:for="row in c.prices_list">
		<td>${row.client_name}</td>
		<td>${row.country_name}</td>
		<td>${row.city_name}</td>
		<td>${row.price_date}</td>
		<td>${row.items_quan}</td>
		<td style="color: red; font-weight: bold;">${row.tmpitems_quan}</td>
		<td>
			<a href="/be/tmpstorage/currency/${row.rid}" title="${_(u'Курс валют')}"><img src="/img/design/icons/money.png" alt="${_(u'Курс валют')}" border="0"/></a>
			<a href="/be/tmpstorage/categories/${row.client_rid}" title="${_(u'Категории клиента')}" ><img src="/img/design/icons/chart_organisation.png" alt="${_(u'Категории клиента')}" border="0"/></a>
			<a href="/be/tmpstorage/remove/${row.rid}" title="${_(u'Удалить прайс')}"><img src="/img/design/icons/delete.png" alt="${_(u'Удалить прайс')}" border="0" onclick="javascript: return confirm('${_(u'Хотите удалить этот прайс?')}');"/></a>
		</td>
	</tr>
</table>
</div>